.root {
    margin-top: 80px;
    max-height: 60vh;
    overflow-y: scroll;
}

.gridList {
    width: 500;
    height: 450;
    overflow-y: 'auto';
}

.paper {
    margin: 8;
    text-align: center;
}

.card {
    max-width: 345;
    margin: 8;
}
.media {
    height: 0;
    padding-top: '56.25%';
}