.image-container {
    margin-top: 20px;
    max-height: 70vh;
    overflow-y: scroll;
    box-shadow: 0 -5px 8px -4px #555;
}

.search-container{
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}
